# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
*.env
!.env.example

# Builds
dist/
client/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/